<%=content_for :body do %>
<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :dep_address %><br>
    <%= f.text_field :dep_address %>
  </div>
  <div class="field">
    <%= f.label :stage_address %><br>
    <%= f.text_field :stage_address %>
  </div>
  <div class="field">
    <%= f.label :arr_address %><br>
    <%= f.text_field :arr_address %>
  </div>
  <div class="field">
    <%= f.label :dep_time %><br>
    <%= f.datetime_select :dep_time %>
  </div>
  <div class="field">
    <%= f.label :arr_time %><br>
    <%= f.datetime_select :arr_time %>
  </div>
  <div class="field">
    <%= f.label :stage_time %><br>
    <%= f.datetime_select :stage_time %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
    <div class="field">
    <%= f.label :semi_distance %><br>
    <%= f.text_field :semi_distance %>
  </div>
   <div class="field">
    <%= f.label :way %><br>
   <%= f.select(:way, options_for_select([['Driving', true], ['Train', false], ['Plane', nil]]), {}, {class: "form-control"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
