<%= content_for :body do %>
<p id="notice"><%= notice %></p>

<h1>Listing Boxes</h1>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Description</th>
      <th>Image</th>
      <th>Departure address</th>
      <th>Departure long</th>
      <th>Departure lat</th>
      <th>Arr address</th>
      <th>Arr lat</th>
      <th>Arr long</th>
      <th>Expiration</th>
      <th>distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td><%= box.weight %></td>
        <td><%= box.description %></td>
        <td><%= box.image %></td>
        <td><%= box.dep_address %></td>
        <td><%= box.dep_long %></td>
        <td><%= box.dep_lat %></td>
        <td><%= box.arr_address %></td>
        <td><%= box.arr_lat %></td>
        <td><%= box.arr_long %></td>
        <td><%= box.expiration %></td>
        <td><%= box.distance %></td>
        <td><%= link_to 'Show', box %></td>
        <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box', new_box_path %>
<% end %>
